{% extends 'base.html.twig' %}

{% block title %} PokéDex {% endblock %}

{% block body %}
    <div class="container mt">
        <h1 class="text-center">{{ generationName }}</h1>
        <div class="row">
            {% for pokemon in pokemons %}
                <div class="col-4 text-center">
                    <a href="{{ path('show', { 'id' : pokemon.id }) }}">
                        <div class="p-2 my-2 bg-light shadow ">
                            <img style="width: 150px" src="{{ pokemon.pictureUrl }}" alt="{{ pokemon.name }}">
                            <p class="h2 text-black" >{{ pokemon.name }}</p>
                            <p class="h5 text-black">{{ pokemon.id }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include('/partials/pagination.html.twig') %}
{% endblock %}