{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        {% set page = ( (pokemon.id - 1 )  / 12 ) + 1  %}
        <div class="d-grid gap-2 my-2">
            <a href="{{ path('home', { 'page' : page  }) }}" class="btn btn-primary" type="button">Retour</a>
        </div>
        <div class="row shadow-lg p-5">
            <div class="col-6 text-center bg-light border">
                <img style="width: 300px" src="{{ pokemon.pictureUrl }}" alt="{{ pokemon.name }}">
            </div>
            <div class="col-6 bg-secondary text-white p-3">
                <h3 class="text-center">{{ pokemon.name }}</h3>
                <p>{{ pokemon.description }}</p>
                <div class="bg-info p-2">
                    <div class="row">
                        <div class="col-6">
                            <p>Poids : <br>
                                <strong class="h4">{{ pokemon.weight }} Kg</strong>
                            </p>
                            <p>Taille : <br>
                                <strong class="h4">{{ pokemon.height }} M</strong>
                            </p>

                            <p class="h4">Type</p>
                            {% for type in pokemon.types %}
                                <span class="badge bg-primary">{{ type }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            <p>Catégorie</p>
                            <p class="h4">{{ pokemon.generation }}</p>
                            <p>Talents</p>
                            {% for ability in pokemon.ability %}
                                <span class="badge bg-success">{{ ability }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
