<nav aria-label="navigation">
    <ul class="pagination justify-content-center mt-5">
        <li class="page-item {{ curent < 2 ? 'disabled' }}">
            <a class="page-link" href="{{ path('home', {'page' : curent + 1 }) }}"  tabindex="-1" aria-disabled="true">Previous</a>
        {% for i in 0..pages  %}
            <li class="page-item">
                <a class="page-link" href="{{ path('home', {'page' : loop.index }) }}">{{ loop.index }}</a>
            </li>
        {% endfor %}
        <li class="page-item {{ curent == (pages | length) - 1  ? 'disabled' }}">
            <a class="page-link" href="{{ path('home', {'page' : curent + 1 }) }}">Next</a>
        </li>
    </ul>
</nav>